@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

*{
    font-family: "Inter", sans-serif;
}

header,#about-and-jobs{
    font-weight: bold;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(126, 126, 126);
}

header ul{
    display: flex;
    flex-direction: row;
}

header ul li{
    margin-right: 15px;
    cursor: pointer;
}

ul{
    list-style: none;
}

section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#about-and-jobs{
    display: flex;
    flex-direction: row;
}

#about-and-jobs li{
    margin-right: 15px;
}

#imagem1{
    width: 850px;
}
#imagem1 img{
    width: 99%;
    height: 480px;
}

section h1,p{
    text-align: left;
    width: 600px;
}

section span{
     color:rgba(141, 0, 184, 0.993);
}